<div class="explfb-title">{{.title}}</div>
<p class="explfb-part">{{.part1}}</p>
<p class="explfb-part">{{html .part2}}</p>
<p class="explfb-part">{{html .part3}}</p>
<p class="explfb-part">{{html .part4}}</p>
<p class="explfb-part">{{html .part5}}</p>
