<div id="prompt">{{.basket_prompt}}</div>
<div id="radios">
    {{range .items}}
    <span>{{.Text}}</span>
    <input type="text" name="{{.Id}}-response" /><br />
    <input type="hidden" name="{{.Id}}-position" value="{{.Position}}"/><br />
    {{end}}
</div> <!-- /radios -->
